<div class="panel">
  <h2>⚡ Temporal Control (Saturation) ⚡</h2>
  <div class="knob-row">
    <div class="knob-container">
      <div class="knob-label">Drive</div>
      <div class="knob" id="driveKnob" data-param="drive" data-value="1" tabindex="0"></div>
      <div class="knob-value" id="driveValue">1.0x</div>
    </div>
    <div class="knob-container">
      <div class="knob-label">Curve</div>
      <div class="knob" id="curveKnob" data-param="curve" data-value="1" tabindex="0"></div>
      <div class="knob-value" id="curveValue">1.0</div>
    </div>
    <div class="knob-container">
      <div class="knob-label">Mix</div>
      <div class="knob" id="mixKnob" data-param="mix" data-value="0" tabindex="0"></div>
      <div class="knob-value" id="mixValue">0%</div>
    </div>
  </div>
</div>
